<div class="col-sm-6">
  <img src="images/welcome.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> This site will help you study English</p>
  <p> If you want to see other people study, Click <a href="/sentences">the sentences page</a> and explore!</p>
  <p> When you see a  you like you can <a href="/contact">contact us to join! </a> Soon you'll be cooking in your own home.</p>
</div>
