<div class="data-form">
  <form class="form-signin" action="<%=`/sentences/create`%>" method="POST">
    <h2 class="form-signin-heading">Create a new sentences:</h2>
    <label for="inputSentenceK">한글</label>
    <input type="text" name="sentenceK" id="inputsentenceK" class="form-control" placeholder="SentenceK" autofocus>
    <label for="inputSentenceE">영어</label>
    <input type="text" name="sentenceE" id="inputSentenceE" class="form-control" placeholder="SentenceE">
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>
